html {
 font-family: sans-serif;
 font-size: 16px;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.kontener {
 display: grid;
 grid-gap: 20px;
 grid-template-columns: 1fr 1fr 1fr;
}

.srodek {
 display: flex;
 flex-direction: column;
 text-align: center;
 flex-grow: 1;
}

.kasa,
.portfel,
.reszta {
 display: flex;
}

.reszta {
 flex-direction: column;
}

.kasa *,
.portfel *,
.reszta * {
 flex-grow: 1;
 flex-basis: 33.3%;
 text-align: left;
}

.srodek *:not(button):not(input) {
 padding: 20px 0 20px 10px;
}

#porfel {
 flex-direction: row;
}

#kasa_zl {
 font-weight: 300;
 font-family: monospace;
 font-size: 1.6rem;
 background-color: #86E190;
 text-align: center;
 border-radius: 5px;
}

#portfel {
 font-size: 1.6rem;
 font-weight: bold;
 text-align: center;
}

#reszta {
 font-size: 1.3rem;
 font-family: monospace;
 font-weight: bold;
 font-style: italic;
 text-align: center;
}

#komunikat {
 text-align: center;
}

.zloty {
 padding-left: 20px;
}

button {
 color: #fff;
 background-color: #0F79D6;
 border-radius: 5px;
 border: none;
 padding: 10px 20px;
 font-size: 1.1em;
 font-weight: bold;
 box-shadow: 3px 3px 0px 0px rgba(10, 52, 82, 1);
 transition: all 0.1s;
}

button:hover {
 background-color: #0c3c68;
}

button:active {
 background-color: rgba(102, 38, 78, 1);
 transform: translate(3px,5px);
 box-shadow: 0px 0px 0px 0px rgba(10, 52, 82, 1);
}
#reload{
 visibility: hidden;
}
input {
 padding: 20px 6px;
 border: none;
 background-color: #f3f3f3;
 color: #000;
 border-radius: 5px;
}

.lewy_sidebar {
 height: 100vh;
 background: rgb(255, 0, 0);
 background: linear-gradient(135deg, rgba(255, 0, 0, 1) 0%, rgba(0, 130, 229, 1) 100%);


}

.prawy_sidebar {
 height: 100vh;
 background: rgba(210, 255, 82, 1);
 background: linear-gradient(45deg, rgba(210, 255, 82, 1) 0%, rgba(0, 174, 255, 1) 100%);

}
